{% extends "feed/base.html" %}
{% load static %}

{% block title %}Jornal do Commercio{% endblock %}

{% block body_class %}page-full-width{% endblock %}

{% block content %}
    {% if hero_article %}

        <a href="{{ hero_article.get_absolute_url }}" class="home-hero-link">
            <div class="home-hero">
                <div class="hero-image-container">
                    {% if hero_article.image %}
                        <img src="{{ hero_article.image.url }}" alt="{{ hero_article.title }}">
                    {% else %}
                        <div style="width:100%; height:100%; background-color: var(--color-placeholder-dark); display:flex; align-items:center; justify-content:center; color:white;">
                            <span>Sem imagem</span>
                        </div>
                    {% endif %}
                </div>
                <div class="hero-text-container">
                    <h1 class="hero-title">
                        {{ hero_article.title }}
                    </h1>
                    <p class="hero-subheadline">
                        {{ hero_article.summary }}
                    </p>
                </div>
            </div>
        </a>
    {% else %}
        <div class="card">
            <div class="card_body" style="text-align: center;">
                <h2 class="card_title">Bem-vindo!</h2>
                <p>Ainda não há notícias para exibir na página inicial.</p>
            </div>
        </div>
    {% endif %}


    <div class="home-grid">
        {% for article in grid_articles %}
            
            <a href="{{ article.get_absolute_url }}" class="grid-card">
                
                <span class="grid-card-category">{{ article.category.name | default:'Sem Categoria' }}</span>
                
                {% if article.image %}
                    <img src="{{ article.image.url }}" alt="{{ article.title }}" class="grid-card-image">
                {% else %}
                    <div class="grid-card-image" style="background-color: var(--color-placeholder-medium); display: flex; align-items: center; justify-content: center; color: var(--color-text-secondary);">
                        <span style="font-size: 0.8rem;">Sem imagem</span>
                    </div>
                {% endif %}
                
                <h3 class="grid-card-title">{{ article.title }}</h3>
            </a>

        {% empty %}
            <p style="grid-column: 1 / -1;">Nenhuma outra notícia encontrada no momento.</p>
        {% endfor %}

    </div>

{% endblock %}